.square{
    width: 100px;
    height: 100px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.square img{
    width: 80%;
    height: auto;
}